@import "../../theme/media.scss";
.shopingCard {
  &__selectProduct {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.shopingCardBlock {
  &__price {
    padding-bottom: 1rem;
    font-weight: 700;
    text-align: center;
  }
  &__product {
    min-height: 200px;
    height: 200px;
    overflow-y: scroll;
    margin: 1rem;
    margin-bottom: 3rem;
  }
}
.selectProduct {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  &__img2 {
    height: 100px;
    margin-right: 1rem;
  }
  &__info {
    text-align: left;
  }
}
.quantityInput {
  width: 40%;
}
.cart-item__name {
  width: 50%;
}
.cart-item__quantity {
  display: flex;
  align-items: center;
}
.quantity {
  padding: 0.5rem;
}
.remove {
  margin-left: 1rem;
  color: red;
  font-weight: bold;
}
