.shops {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
  min-height: 100vh;
  &__title {
    font-size: 22px;
    font-weight: 700;
  }
  &__name {
    font-size: 22px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    transition-duration: 1s;
    &:hover {
      background: silver;
      font-weight: 700;
    }
  }
}
